<h1>Listing doctors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Speciality</th>
    <th>Secretary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @doctors.each do |doctor| %>
  <tr>
    <td><%= link_to doctor.name, doctor %></td>
    <td><%= doctor.speciality %></td>
	<td><% if doctor.secretary %>
			<%= link_to doctor.secretary.name, doctor.secretary %>
		<% else %> 
			<em>No secretary</em>
		<% end %></td>
    <td><%= link_to 'Show', doctor %></td>
    <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doctor', new_doctor_path %>
